/* --------- Config Initial */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html
{
  font-family: 'Fredoka One', cursive,Arial, Helvetica, sans-serif;
}
body
{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e9e9e9;
}

/* --------- Main */
.main-container
{
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
}

.decimal-container,
.converter-container,
.binary-container
{
  box-shadow: 0 0 5px #1f1f1f;
  border-radius: 10px;
}

.decimal-container
{
  text-align: center;
  margin-right: 10px;
}
.decimal-container input
{
  outline: none;
  border: none;
  background: transparent;
  min-width: 100px;
  height: 40px;
  padding: 0 10px;
}

.converter-container
{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 900;
}
.converter-container:active
{
  transform: scale(.9);
}

.binary-container
{
  margin-left: 10px;
  padding: 10px;
  box-shadow: 0 0 5px #1f1f1f;
  border-radius: 10px;
}

.attribution
{
  margin-top: 20px;
  grid-column: 1 / 4;
  text-align: center;
}
.attribution a
{
  color: #7aaeec;
  text-decoration: none;
}